*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//defines what 1 rem is
html {
  font-size: 100%;
}

// needs to be organized

.section {
  transition: transform 1.5s, opacity 1s;
  padding: 100px 150px;
}

#section--1 {
  border-top: none;
  padding-top: 15px;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.hero-headline {
  color: $color-primary;
  font-weight: 500;
  margin-right: 31px;
  letter-spacing: 2px;
}

.hero-box {
  grid-row: 1/4;
}
