/* Resetting  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root{

  --color-primary:  #35b993;
  --color-primary-lighter: #67d3b4;
  --color-secondary: #b9355b;
  --color-secondary-lighter: #d36786;

}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}


.section {
  border-top: 1px solid #ddd;
  transition: transform 1.5s, opacity 1s;
}

.section--hidden{
 opacity: 0;
 transform: translateY(8rem);
}

 /* scroll animation */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 90px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid var(--color-primary);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: var(--color-primary);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid var(--color-primary);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


/* Navbar */

.navbar {
  width: 80vw;
  height: 10vh;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

center {
  box-shadow: 0 1.3px 2px -2px rgb(0 65 94 / 20%);
}

.navbar-logo {
  height: 100% !important;
}

.navbar ul {
  list-style: none;
  padding: 30px 0;
}

.navbar li {
  font-size: 1rem;
  letter-spacing: 0.1;
  padding: 0px 15px;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #444;
}

.navbar a:hover {
  text-decoration: none;
  /* color: #6a6a6a; */
  color:#b9355b
}

.animation-jump:hover {
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

.dropdown {  
  position: relative;  
  display: block;  
}  

#list-items {  
  display: none;  
  position: absolute;  
  border-radius: 5px;
  background-color: white;  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 47px;
  right: -2px;
  min-width: 125px;  
}  

#list-items a {  
  display: block;  
  font-size: 18px;  
  color: black;  
  text-decoration: none;  
  padding: 10px;  
}  


.burger-menu i{
  font-size: 40px;
}

/* typed js */

.typed-cursor {
  display: none;
}

/* headlines */

.hero-headline {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.hero-headline h1 {
  margin-bottom: 10px;
  font-size: 3em;
}

/* content */

.content {
  /* height: 100vh; */
  display: flex;
}

/* left content */

#left-content {
  padding-left: 150px;
  width: 45%;
}

#left-content p {
  width: 88%;
  margin-bottom: 40px;
}

.typed-headline {
  margin-top: 20vh;
  font-size: 4.5em;
}

.description {
  text-align: justify;
  letter-spacing: 1.2;
}

/* footer */
.footer {
  /* background: #f8f9fa; */
  box-shadow: 0 0 1px rgb(0 65 94 / 20%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0px 153px;
  color: rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 20px;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links  i {
  margin-right: 15px;
  font-size: 24px;
  color: #444;
}

.social-links i:hover {
  color: #d36786;
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

/* right content */
#right-content {
  width: 50%;
}

.avatar {
  margin-top: 50px;
  width: 90%;
  border-radius: 5px;
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background-color: #35b993;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}


.btn:hover {
  transform: translateY(-0.4rem);
  transition: transform 150ms;
  background-color: #67d3b4;
  transition: background 0.2s ease-in;
}

.btn-submit {
  width: 40%;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background-color: #35b993;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.btn-submit:hover {
  transform: translateY(-0.4rem);
  transition: transform 150ms;
  background-color: #67d3b4;
  transition: background 0.2s ease-in;
}

.btn-alternative {
  display: inline-block;
  border-radius: 5px ;
  border: 1px solid #35b993;
  padding: 9px;
  background-color: transparent;
  color: #35b993;
  text-decoration: none;
  margin-right: 15px;
}

.btn-alternative:hover {
  color: white;
  transform: translateY(-0.4rem);
  transition: transform 150ms;
  background-color: #35b993;
  transition: background 0.2s ease-in;
}

.btn-big {
  display: inline-block;
  border: 1px solid #35b993;
  border-radius: 5px;
  padding: 12px 221px;
  background-color: transparent;
  color: 35b993;
  text-decoration: none;
  margin-right: 15px;
}

.btn-big:hover {
  background-color: #35b993;
  transition: background 0.2s ease-in;
  color: white;
}

.typed-text {
  height: 110px;
}

input:focus {
  outline: none !important;
  border: 1px solid #35b993;d;
  box-shadow: 0 0 2px #35b993;;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #35b993;d;
  box-shadow: 0 0 2px #35b993;;
}


/* media */

/* iphone 5 */
@media (width: 320px){

   .typed-headline {
    margin-top: 10vh !important;
    font-size: 2.5em !important;
  } 
}


/* iphone 8 */
@media (width: 375px) {

  .typed-headline {
    margin-top: 15vh !important;
  } 
}


/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {

  .mouse_scroll{
    display: none;
  }

  #projects {
    margin-top: 75px;
  }

  .hero-headline  {
    display: none;
  }

  .nav-desktop {
    display: none;
  }
  #right-content {
    display: none;

  }
  #left-content  {
    width: 100%;
    padding-left: 30px;
   }

   .typed-headline {
    margin-top: 20vh;
    font-size: 3em;
}

.typed-text {
  height: 75px;
}

  .footer-copyright {
    display: none;
    }

    .footer {
      /* margin-top: 67px; */
      padding: 0px 0px;
      justify-content: center !important;
    } 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 100px;
    width: 100%;
  }

  #right-content {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
  }

  #right-content {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 110px;
    width: 53%;
}

.avatar {
  width: 100%;
}

#right-content {
  width: 36%;
}

.typed-headline {
  font-size: 3.5em;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 143px;
    width: 53%;
}

.avatar {
  width: 100%;
}

#right-content {
  width: 36%;
}

.typed-headline {
  font-size: 3.5em;
}

}


