* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* html, body {
  overflow-x: hidden;
  width: 100%;

} */


.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* Navbar */

.navbar {
  width: 80vw;
  height: 10vh;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.navbar-logo {
  height: 85% !important;
}

.navbar ul {
  list-style: none;
  padding: 30px 0;
}

.navbar li {
  font-size: 1rem;
  letter-spacing: 0.1;
  padding: 0px 15px;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #444;
}

.navbar a:hover {
  text-decoration: none;
  color: #6a6a6a;
}

.animation-jump:hover {
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

/* test */
.dropdown {  
  position: relative;  
  display: block;  
}  

#list-items {  
  display: none;  
  position: absolute;  
  background-color: white;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  right: -2px;
  min-width: 125px;  
}  

#list-items a {  
  display: block;  
  font-size: 18px;  
  color: black;  
  text-decoration: none;  
  padding: 10px;  
}  


.burger-menu i{
  font-size: 40px;
}

/* typed js */

.typed-cursor {
  display: none;
}

/* content */

.content {
  display: flex;
}

/* left content */

#left-content {
  padding-left: 150px;
  width: 45%;
}

#left-content p {
  width: 88%;
  margin-bottom: 40px;
}

.typed-headline {
  margin-top: 20vh;
  font-size: 4.5em;
}

.description {
  text-align: justify;
  letter-spacing: 1.2;
}

/* footer */
.footer {
  background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 10vh;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 20px;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links  i {
  margin-right: 15px;
  font-size: 24px;
  color: #b9355b;
}

.social-links i:hover {
  color: #d36786;
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

/* right content */
#right-content {
  width: 50%;
}

.avatar {
  margin-top: 50px;
  width: 90%;
  border-radius: 5px;
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 12px;
  background-color: #35b993;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.btn:hover {
  transform: translateY(-0.4rem);
  transition: transform 150ms;
  background-color: #67d3b4;
  transition: background 0.2s ease-in;
}

.btn-big {
  display: inline-block;
  border: 1px solid #35b993;
  border-radius: 5px;
  padding: 12px 221px;
  background-color: transparent;
  color: 35b993;
  text-decoration: none;
  margin-right: 15px;
}

.btn-big:hover {
  background-color: #35b993;
  transition: background 0.2s ease-in;
  color: white;
}

.typed-text {
  height: 110px;
}

input:focus {
  outline: none !important;
  border: 1px solid #35b993;d;
  box-shadow: 0 0 2px #35b993;;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #35b993;d;
  box-shadow: 0 0 2px #35b993;;
}


/* media */

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {

  .nav-desktop {
    display: none;
  }
  #right-content {
    display: none;

  }
  #left-content  {
    width: 100%;
    padding-left: 30px;
   }

   .typed-headline {
    margin-top: 20vh;
    font-size: 3em;
}

.typed-text {
  height: 75px;
}

  .footer-copyright {
    display: none;
    }

    .footer {
      justify-content: center !important;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 100px;
    width: 100%;
  }

  #right-content {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
  }

  #right-content {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 110px;
    width: 53%;
}

.avatar {
  width: 100%;
}

#right-content {
  width: 36%;
}

.typed-headline {
  font-size: 3.5em;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .dropdown {
    display: none;
  }

  #left-content {
    padding-left: 143px;
    width: 53%;
}

.avatar {
  width: 100%;
}

#right-content {
  width: 36%;
}

.typed-headline {
  font-size: 3.5em;
}

}


