.btn {
  display: inline-block;
  padding: 10px;
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  margin-right: 15px;
  transition: all 1s;

  &:hover {
    background-color: $color-primary-darker;
  }
}

.btn-submit {
  width: 40%;
  display: inline-block;
  padding: 10px;
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  margin-right: 15px;
  transition: all 1s;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: $color-primary-darker;
}

.btn-alternative {
  display: inline-block;
  border: 1px solid $color-primary;
  padding: 9px;
  background-color: transparent;
  color: $color-primary;
  text-decoration: none;
  margin-right: 15px;
  transition: all 1s;
}

.btn-alternative:hover {
  color: $color-primary-darker;
  border: 1px solid $color-primary-darker;
}
