.skills {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.skill {
  &__title {
    font-weight: 500;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin: 3px 0;
    font-weight: 200;
    letter-spacing: 2px;
  }
}
