.knowledge__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 22px;
}

.knowledge__item {
  border: 2px dotted var(--color-font-primary);
  padding: 1rem;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;

  h2 {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.2rem;
  }

  i {
    font-size: 1.2rem;
    margin: 10px 0;
    margin-right: 5px;
  }
  p {
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
}

.knowledge__item:hover {
  background-color: var(--color-primary);
  color: #ffff;
}
