.navbar {
  width: 80vw;
  height: 10vh;
  margin: auto;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

center {
  // box-shadow: 0 0 1px rgb(0 65 94 / 20%);
  border-bottom: 1px solid rgba(108, 117, 125, 0.06);
}

.navbar-logo {
  height: 100% !important;
}

.navbar ul {
  list-style: none;
  padding: 30px 0;
}

.navbar li {
  font-size: 1rem;
  letter-spacing: 0.1;
  padding: 0px 15px;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #444;
}

// hoover animation

.navbar a {
  display: inline-block;
  padding-bottom: 2px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--color-primary)),
    to(var(--color-primary))
  );
  background-image: -o-linear-gradient(
    var(--color-primary),
    var(--color-primary)
  );
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.3s, background-position 0s 0.3s;
  -o-transition: background-size 0.3s, background-position 0s 0.3s;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.navbar a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.navbar .active {
  display: inline-block;
  padding-bottom: 2px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--color-primary)),
    to(var(--color-primary))
  );
  background-image: -o-linear-gradient(
    var(--color-primary),
    var(--color-primary)
  );
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  background-repeat: no-repeat;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

// Mobile navbar

.nav {
  position: absolute;
  z-index: 100;
  opacity: 0;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  right: 0%;
  top: 10%;
}

.nav--active .nav {
  opacity: 0.95;
  background-color: #ffff;
}

.nav__list {
  margin: 0;
  padding: 10px;
}
.nav__list li {
  display: block;
}

.nav__item {
  list-style-type: none;
  text-align: left;
}

.nav__link {
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

// Default navigation icon

.mobile .burger-menu {
  font-size: 35px;
  color: #6c757d;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  -o-transition-property: color, transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  display: none;
}

.nav--active .burger-menu {
  opacity: 0.5;
}

.nav--active .burger-menu {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav {
  width: 100%;
  height: 29%;
  // transform: translateY(100%);
  -webkit-transform: translateY(-141%);
  -ms-transform: translateY(-141%);
  transform: translateY(-141%);
}

.nav--active .nav {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nav__link {
  opacity: 0;
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
  font-weight: 200;
  letter-spacing: 2px;
  margin-left: 20px;
}

.nav--active .nav__link {
  opacity: 1;
}
