// Big tablet to 1200 px (width smaller then row 1140px)
@media only screen and (max-width: 1200px) {
  .mobile .burger-menu {
    font-size: 25px !important;
  }

  .nav__list .nav__link {
    font-size: 1.3rem;
  }

  .section {
    padding: 50px 60px;
  }

  .navbar {
    width: 100% !important;
    padding: 0 50px;
    height: 8vh !important;
  }

  .mouse_scroll {
    display: none;
  }

  .typed-headline {
    margin-top: 13vh;
    font-size: 3.5em;
  }

  .skills-grid {
    grid-column-gap: 22px;
  }

  .card__title p {
    font-size: 0.85rem;
    font-weight: 300;
    padding: 0 0.4rem;
    display: inline-block;
    text-transform: uppercase;
  }

  .card__tagBox li {
    font-size: 0.7rem;
    margin-top: 4px;
  }

  .card__tags {
    margin: 0 0.1rem;
    padding: 0 0.4rem;
  }

  .card__title i {
    font-size: 1rem;
    margin-left: 6px;
  }
}

// Small tablet, to big tablet from 768 - 1023 px
@media only screen and (max-width: 1023px) {
  .section {
    padding: 50px 60px;
  }

  .navbar {
    width: 100%;
    padding: 0 25px;
  }

  .mouse_scroll {
    display: none;
  }

  .knowledge__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 22px;
  }

  .skills-grid {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: auto auto;
    grid-row-gap: 22px;
    .hero-box {
      grid-column: 1/3;
    }
    .marginFix {
      margin-left: 0;
    }
  }

  .project-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 22px;
  }

  #right-content {
    display: none;
  }

  #left-content {
    width: 100%;
    margin-right: 0;
  }
  .contact__grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 22px;
    grid-column-gap: 22px;
  }

  .contact-box {
    grid-row: 2/3;
    width: 100%;
  }

  .hero-box {
    grid-row: 1;
  }

  .btn-submit {
    width: 21%;
  }
}

// Small phones, to small tablets from 481 - 767 px
@media only screen and (max-width: 767px) {
  .typed-text .typed-headline {
    width: 200px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 10vh;
    // align-items: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .mobile .burger-menu {
    display: block !important;
  }

  .mouse_scroll {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
  #right-content {
    display: none;
  }

  .section {
    padding: 50px 35px;
  }

  .typed-text {
    height: auto;
  }

  .typed-headline {
    margin-top: 12vh;
    font-size: 3em;
  }

  #left-content {
    width: 100%;
    margin-right: 0;
  }

  .knowledge__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 22px;
  }

  .skills-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 22px;
    .hero-box {
      grid-column: 1/3;
    }
    .marginFix {
      margin-left: 0;
    }
  }

  .project-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 22px;
  }

  .contact__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 22px;
  }

  .footer-copyright {
    display: none;
  }

  .btn-submit {
    width: 48%;
  }

  .card__title p {
    font-size: 0.85rem;
    font-weight: 300;
    padding: 0 0.4rem;
    display: inline-block;
    text-transform: uppercase;
  }

  .card__tagBox li {
    font-size: 0.7rem;
  }

  .card__tags {
    margin: 0 0.1rem;
    padding: 0 0.4rem;
  }

  .card__title i {
    font-size: 1rem;
    margin-left: 6px;
  }

  .footer {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 0 !important;
  }

  .contact-box {
    width: 100%;
  }
}

// Small phones from 0 - 480 px
@media only screen and (max-width: 321px) {
  .typed-text .typed-headline {
    font-size: 2.6em;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .nav__list .nav__link {
    font-size: 1.1rem;
  }

  .mobile .nav {
    height: 30%;
  }

  .mobile .nav--active .nav {
    height: 30%;
  }

  #left-content .btn-alternative {
    margin-top: 15px;
  }

  .knowledge__item h2 {
    font-size: 1.1rem;
  }

  .card__title p {
    font-size: 0.7rem;
  }

  .card__tagBox li {
    font-size: 0.6rem;
  }

  .card__title i {
    font-size: 0.93rem;
  }

  .burger-menu i {
    font-size: 30px;
  }
}
