.skills-grid {
  display: grid;
  // grid-template-columns: auto repeat(4, 1fr);
  grid-template-columns: repeat(6, auto);

  ul {
    list-style: none;
  }

  li {
    margin: 3px 0;
    font-weight: 200;
    letter-spacing: 2px;
  }

  .skill-item {
    h3 {
      font-weight: 500;
    }
  }

  .marginFix {
    // margin-left: 12px;
    margin-left: 37px;
  }
}
