/* Resetting  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #35b993;
  --color-primary-lighter: #67d3b4;
  --color-primary-darker: #2a9174;
  --color-font-primary: #6c757d;
}

html,
body {
  // overflow-x: hidden;
  // width: 100%;
}

.hero-headline {
  color: var(--color-primary);
  font-weight: 500;
  // margin-right: 48px;

  margin-right: 31px;
  letter-spacing: 2px;
}

.section {
  // border-top: 0.5px solid #ddd;
  transition: transform 1.5s, opacity 1s;
  padding: 100px 150px;
}

#section--1 {
  border-top: none;
  padding-top: 15px;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.mouse {
  cursor: pointer;
}

.content {
  /* height: 100vh; */
  display: flex;
}

#left-content {
  width: 45%;
  margin-right: 30px;
}

#left-content p {
  width: 88%;
  margin-bottom: 40px;
}

.typed-headline {
  margin-top: 20vh;
  font-size: 4.5em;
}

.description {
  text-align: justify;
  letter-spacing: 1.2;
  font-weight: 200;
}

#right-content {
  width: 54%;
}

/* typed js */

.typed-cursor {
  display: none;
}

.typed-text {
  height: 110px;
}

/* form */

input:focus {
  outline: none !important;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 2px var(--color-primary);
}

textarea:focus {
  outline: none !important;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 2px var(--color-primary);
}
